<!--Djordje Loncar 2021/0076-->
{% extends 'main.html' %}
{% load widget_tweaks %}

{% block title %}
    Izmena oglasa
{% endblock title %}

{% block content %}
    <style>
        td {
            text-align: right;
            vertical-align: middle;
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
        }

        input {
            width: 250px;
        }
        .inside {
            border-radius: 5px;
            resize: none;
            width: 300px;
            margin: 5px;
            max-height: 100px;
        }
    </style>
    <div class="container d-flex flex-column align-items-center" style="margin-top: 3%">
        <div class="login-wrapper">
            <h3>Izmena oglasa</h3>
        </div>
        <div class="row">
            <form method="post" enctype="multipart/form-data" class="mx-auto d-block">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Greška:</strong> Molimo vas da ispravite greške u formi.
                        <ul>
                            {% for field, errors in form.errors.items %}
                                <li>{{ field }}: {{ errors }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <table>
                    <tr>
                        <td>Naziv oglasa:</td>
                        <td class>{{ form.listingname|add_class:"inside" }}</td>
                    </tr>
                    <tr>
                        <td>Tip proizvoda:</td>
                        <td>
                            {{ form.type|add_class:"inside" }}
                        </td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                        <td>{{ form.price|add_class:"inside" }}</td>
                    </tr>
                    <tr>
                        <td>Jedinica mere:</td>
                        <td>
                            {{ form.unit|add_class:"inside" }}
                        </td>
                    </tr>
                    <tr>
                        <td>Kolicina:</td>
                        <td>{{ form.quantity|add_class:"inside" }}</td>
                    </tr>
                    <tr>
                        <td>Opis oglasa:</td>
                        <td>{{ form.description|add_class:"inside" }}</td>
                    </tr>
                    <tr>
                        <td>Slika:</td>
                        <td>{{ form.image }}</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="reset" class="btn farm-dark-colour listing-btn btn-lg" id="odustani">
                                Odustani
                            </button>
                        </td>
                        <td class="d-flex content">
                            <button class="btn farm-dark-colour listing-btn btn-lg" type="submit" id="postavi">Sačuvaj
                                Promene
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock content %}
