<!--Nikola Kovacevic 2021/0113-->
{% extends 'main.html' %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 2%">
    <form method="post">
        {% csrf_token %}
        <div class="row login-wrapper">
            <div class="col-2"></div>
            <div class="col-4">
                <label>Ime</label>
                <input name="first_name" class="farm-dark-colour login-form mr-sm-2" type="text" placeholder="Petar" value="{{ form.first_name.value|default_if_none:'' }}">
                {% if form_errors.first_name %}
                <div class="text-center" id="fname-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.first_name }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <label>Prezime</label>
                <input name="last_name" class="farm-dark-colour login-form mr-sm-2" type="text" placeholder="Petrovic" value="{{ form.last_name.value|default_if_none:'' }}">
                {% if form_errors.last_name %}
                <div class="text-center" id="lname-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.last_name }}
                </div>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row login-wrapper">
            <div class="col-2"></div>
            <div class="col-4">
                <label>Email</label>
                <input name="email" class="farm-dark-colour login-form mr-sm-2" type="email" placeholder="primer@gmail.com" value="{{ form.email.value|default_if_none:'' }}">
                {% if form_errors.email %}
                <div class="text-center" id="email-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.email }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <label>Broj Telefona</label>
                <input name="phone" class="farm-dark-colour login-form mr-sm-2" type="tel" placeholder="060123456" value="{{ form.phone.value|default_if_none:'' }}">
                {% if form_errors.phone %}
                <div class="text-center" id="phone-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.phone }}
                </div>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row login-wrapper">
            <div class="col-2"></div>
            <div class="col-4">
                <label>Lozinka</label>
                <input name="password" class="farm-dark-colour login-form mr-sm-2" type="password" placeholder="****">
                {% if form_errors.password %}
                <div class="text-center" id="pass-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.password }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <label>Ponovljena Lozinka</label>
                <input name="password_confirmation" class="farm-dark-colour login-form mr-sm-2" type="password" placeholder="****">
                {% if form_errors.password_confirmation %}
                <div class="text-center" id="passconf-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.password_confirmation }}
                </div>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row login-wrapper">
            <div class="col-2"></div>
            <div class="col-4">
                <label>Tip Naloga</label>
                <select name="type" class="farm-dark-colour login-form mr-sm-2" style="padding-top: 0">
                    <option value="customer" {% if form.type.value == "customer" %}selected{% endif %}>Kupac</option>
                    <option value="seller" {% if form.type.value == "seller" %}selected{% endif %}>Prodavac</option>
                </select>
                {% if form_errors.type %}
                <div class="text-center" id="type-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.type }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <label>Grad</label>
                <input name="city" class="farm-dark-colour login-form mr-sm-2" type="text" placeholder="Belgrade" value="{{ form.city.value|default_if_none:'' }}">
                {% if form_errors.city %}
                <div class="text-center" id="city-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.city }}
                </div>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row login-wrapper">
            <div class="col-2"></div>
            <div class="col-4">
                <label>Username</label>
                <input name="username" class="farm-dark-colour login-form mr-sm-2" type="text" placeholder="username" value="{{ form.username.value|default_if_none:'' }}">
                {% if form_errors.username %}
                <div class="text-center" id="username-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.username }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <label>Drzava</label>
                <input name="country" class="farm-dark-colour login-form mr-sm-2" type="text" placeholder="Serbia" value="{{ form.country.value|default_if_none:'' }}">
                {% if form_errors.country %}
                <div class="text-center" id="country-error" style="color: red; margin-top: 10px;">
                    {{ form_errors.country }}
                </div>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row login-wrapper justify-content-center">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <button type="submit" id="create" class="btn farm-dark-colour btn-lg">NAPRAVI NALOG</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</div>
{% endblock content %}
